body {
  font-family: 'Avenir Next';
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 1000px;
}

#game {
  visibility: hidden;
}

.player-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 30px 0;
}

.player-input #word-entry {
  width: 75%;
  height: 40px;
  font-size: 1.5em;
}

.player-input #enter-button {
  width: 20%;
  height: 40px;
  font-size: 1.2em;
}

.entry-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#error {
  color: red;
  width: 100%;
}

.board-list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.right-panel {
  border: 1px solid grey;
  height: 600px;
  width: 50%;
  padding: 0 20px;
}

.right-panel h3 {
  display: inline-block;
}

.score {
  float: right;
  margin: 1em;
}

.player-display {
  margin-top: 20px;
}

div span {
  font-size: 1.5em;
  font-weight: 700;
  width: 50%;
}

.timer {
  float: right;
  margin: 5px 8px 5px 0;
}

.auto-solve {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.auto-solve input {
  width: 35px;
  height: 35px;
  font-size: 1.2em;
}

.auto-solve button {
  width: 30%;
  height: 40px;
  font-size: 1em;
}

#waiting {
  display: none;
}

#full-list {
  width: 100%;
}

.settings {
  width: 500px;
}

.variant, .board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.player-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-row input {
  width: 70%;
}